.App {
  text-align: center;
  background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fak.picdn.net%2Fshutterstock%2Fvideos%2F1045672999%2Fthumb%2F1.jpg&imgrefurl=https%3A%2F%2Fwww.shutterstock.com%2Fvideo%2Fclip-1045672999-4k-animated-background-video-corona-virus-flying&tbnid=1OxUCy2ylss6nM&vet=10CCsQMyjaAWoXChMI4NG5iPqF7QIVAAAAAB0AAAAAEAo..i&docid=rwHP1FMtkbWjTM&w=853&h=480&q=background%20image%20corona&ved=0CCsQMyjaAWoXChMI4NG5iPqF7QIVAAAAAB0AAAAAEAo");
}
* {
  margin: 0;
}